[package]
name = "replay_engine"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
core_types = { path = "../core_types" }
serde.workspace = true
serde_json.workspace = true
tokio.workspace = true
